*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  /*defining what 1rem is for us in our project but by default font-size is 16px
    1 rem = 10px, 10px/16px = 62.5%*/
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 60em) {
    .container {
      grid-template-rows: minmax(5.6rem, min-content) 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 54.6875em) {
    .container {
      grid-template-rows: minmax(5.6rem, min-content) calc(100vh - 3.6rem); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  /*directive lets you share a set of css prop from one selector to another */
  /*usefull in identically styled elements that only differ in some small details*/
  color: white;
  font-size: 4rem;
  line-height: 1; }

.heading-2 {
  font-style: italic;
  font-weight: 300;
  font-size: 4rem;
  line-height: 1.1; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.8rem;
  text-transform: uppercase; }
  .heading-3--light {
    color: #c69963; }

.heading-4 {
  font-size: 2.05rem; }
  .heading-4--q {
    align-self: center; }
  .heading-4--dark {
    color: #54483A; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.fb {
  font-weight: bold; }

.btn {
  background-color: #c69963;
  border: none;
  cursor: pointer;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  transition: all .2s;
  overflow: hidden; }
  .btn:hover {
    background-color: #B28451;
    font-weight: bold; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/-1;
  /* spanning till end*/
  padding: 1.5rem;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 60em) {
    .sidebar {
      grid-column: 1/-1;
      grid-row: 1/2;
      display: grid;
      justify-content: end; } }
  .sidebar__btn {
    height: 2px;
    width: 4.5rem;
    border: none;
    outline: none;
    background-color: white;
    margin-top: 2.7rem; }
    @media only screen and (max-width: 60em) {
      .sidebar__btn {
        margin-top: 0;
        align-self: center;
        margin-right: 2.4rem; } }
    .sidebar__btn::before, .sidebar__btn::after {
      height: 2px;
      width: 4.5rem;
      background-color: white;
      content: "";
      display: inline-block; }
    .sidebar__btn::before {
      transform: translateY(-2.1rem); }
    .sidebar__btn::after {
      transform: translateY(-1.27rem); }
      @media only screen and (max-width: 75em) {
        .sidebar__btn::after {
          transform: translateY(-2.25rem); } }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  grid-column: full-start / col-end 6;
  padding: 6.4rem;
  padding-top: 4.2rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(5.6rem, min-content) 1fr;
  /*1fr for 1st and 4th ro because we needed space belowthem*/
  grid-gap: 1.4rem;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center; }
  @media only screen and (max-width: 54.6875em) {
    .header {
      grid-column: 1/-1;
      grid-row: 2/3; } }
  .header__logo {
    height: 3.6rem;
    justify-self: center; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: #aaa;
    display: grid;
    /*just like only text(seen on)inside it can be used as a flex item and also its pseudo elements too*/
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1rem;
    align-items: center; }
    .header__seenon-text::before, .header__seenon-text::after {
      height: 1.5px;
      content: "";
      display: inline-block;
      background-color: currentcolor; }
  .header__seenon-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.8rem;
    align-items: center;
    justify-items: center;
    align-items: center;
    /*resposniveness during starting breakpoint*/
    margin-top: 1rem; }
    .header__seenon-logo img {
      max-height: 2.4rem;
      max-width: 100%;
      filter: brightness(70%); }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 2rem;
  display: grid;
  grid-template-rows: min-content min-content;
  justify-content: center;
  align-content: center;
  row-gap: 2rem; }
  @media only screen and (max-width: 54.6875em) {
    .realtors {
      grid-column: 1/-1;
      grid-row: 3/4;
      padding: 3.6rem; } }
  .realtors .t {
    justify-self: center; }
  .realtors__list {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    row-gap: 3.6rem;
    align-items: center; }
    @media only screen and (max-width: 54.6875em) {
      .realtors__list {
        grid-template-columns: repeat(3, min-content max-content);
        column-gap: 3rem;
        width: 120%; } }
  .realtors__name {
    color: white;
    font-size: 1.8rem;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 5px; }
    @media only screen and (max-width: 54.6875em) {
      .realtors__name {
        font-weight: normal; } }
  .realtors__para {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem; }
  .realtors__img {
    height: 6.9rem;
    border-radius: 50%; }
    @media only screen and (max-width: 54.6875em) {
      .realtors__img {
        height: 7rem; } }

.features {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  margin: 15rem 0; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  column-gap: 2rem;
  row-gap: 1.2rem; }
  .feature__icon {
    height: 4.8rem;
    width: 4.8rem;
    fill: #B28451;
    align-self: center; }
  .feature__para {
    font-size: 1.6rem;
    grid-column: 2/3;
    align-self: start;
    line-height: 1.8; }

.story {
  /*&__photo{

        outline-offset: 2rem;
        transition: all 0.2s;

        &:hover{
            transform: scale(0.9);
            outline: solid 1rem $color-secondary ;
            box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.3);
            z-index: 200;      
        }
    }*/ }
  .story__img {
    grid-column: full-start / col-end 4;
    display: grid;
    background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center; }
    @media only screen and (max-width: 54.6875em) {
      .story__img {
        grid-column: 1/-1;
        padding: 7rem; } }
  .story__pic--1 {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2) 1;
    width: 100%;
    grid-column: 2/6;
    grid-row: 2/6; }
    @media only screen and (max-width: 54.6875em) {
      .story__pic--1 {
        grid-column: 1/5;
        grid-row: 1/-1;
        width: 90%; } }
  .story__pic--2 {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    width: 116%;
    grid-row: 4/6;
    grid-column: 4/7;
    z-index: 100;
    /*background-position:  center;
        background-size: cover; /*for a bg img to fit in completely--obect fit for the parent div in which img is via html */
    /*background-blend-mode: color-burn;
        background-image: linear-gradient(to right bottom, rgba($color-t-l, 0.75), rgba($color-t-d, 0.75)), url(../img/story-2.jpeg);*/ }
    @media only screen and (max-width: 54.6875em) {
      .story__pic--2 {
        width: 90%;
        grid-row: 1/-1; } }
  .story__text {
    background-color: #f9f7f6;
    grid-column: col-start 5 / full-end;
    display: grid;
    padding: 5.6rem 8vw;
    align-content: center; }
    @media only screen and (max-width: 54.6875em) {
      .story__text {
        grid-column: 1/-1;
        grid-row: 5/6; } }
    .story__text > * {
      justify-self: start; }
  .story__para {
    font-size: 1.5rem;
    font-style: italic; }

.homes {
  background-color: white;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6.9rem;
  margin: 12rem 0; }

.home {
  display: grid;
  /* level 3rd grid */
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.3rem;
  background-color: #f9f7f6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .home__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2; }
  .home__like {
    height: 2.7rem;
    width: 2.7rem;
    fill: #c69963;
    cursor: pointer;
    transition: all .2s;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    margin: 1rem; }
    .home__like:hover, .home__like--active {
      fill: #eb2f64; }
  .home__location, .home__room {
    margin-top: 2rem; }
  .home__location, .home__room, .home__area, .home__price {
    font-size: 1.6rem;
    margin-left: 2.7rem;
    display: flex;
    /* to align icin and para inside flex containers */
    align-items: center;
    gap: 1.1rem;
    /* creates a gap btw the items on each side -- diff than margins */ }
    .home__location svg, .home__room svg, .home__area svg, .home__price svg {
      height: 2rem;
      width: 2rem;
      fill: #B28451;
      font-weight: 700; }
  .home__btn {
    grid-column: 1/-1;
    letter-spacing: 1.5px; }
  .home__name {
    color: white;
    font-size: 1.7rem;
    padding: 1.1rem 1.8rem;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    background-color: #101d2c;
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    align-self: end;
    width: 80%;
    transform: translateY(50%); }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  padding: 2.7rem;
  grid-gap: 1.2rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / -1; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / -1; }
  .gallery__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*to fit full image with apt aspect ration--height&width should be mentioned and the img needs to be placed inside a parewnt element*/
    display: inline-block;
    /*to avoid small white spaces below inline img element*/
    outline-offset: 1.6rem;
    transition: all .15s; }
    .gallery__img:hover {
      transform: scale(0.95);
      outline: solid 1rem #101d2c;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
      z-index: 20; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 3.5rem; }
  .footer__copyright {
    font-size: 1.6;
    color: white;
    width: 70%;
    text-align: center;
    padding: 1rem;
    margin: 2rem auto 0 auto;
    /*centering*/ }
  .footer__owner:link, .footer__owner:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: .7rem;
    display: inline-block;
    transition: all .2s; }
  .footer__owner:hover, .footer__owner:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.nav__items {
  list-style: none;
  display: grid;
  padding: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-items: center; }
  @media only screen and (max-width: 60em) {
    .nav__items {
      grid-gap: 1.4rem;
      padding: 1.8rem; } }

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
  display: inline-block;
  transition: all .2s; }
  @media only screen and (max-width: 60em) {
    .nav__link:link, .nav__link:visited {
      padding: 1.1rem; } }

.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
  font-weight: bold; }
